/* Padding to offset bootstrap fixed navbar */
body {
    padding-top: 70px;
}

/***************************************************
 * Main Content Area
 */
#main h2 {
    border-bottom: 2px solid #d27a2d;
    color: #d27a2d;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2%;
}

#main .table th,
#main .table td {
    border-style: none !important;
}

.panel-heading {
    background-color: #d27a2d;
    color: #f4decb;
}

.panel-body {
    background-color: #f4decb;
    color: #d27a2d;
}



