/* Padding to offset bootstrap fixed navbar */
body {
    padding-top: 70px;
}

/***************************************************
 * Main Content Area
 */
#main h2 {
    border-bottom: 2px solid #d27a2d;
    color: #d27a2d;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2%;
}

.panel a:active, .panel a:focus, .panel a:hover {
    text-decoration: none;
}

.panel-heading {
    background-color: #d27a2d;
    color: #f4decb;
}

.panel-title {
    padding-left: 5%;
}

.panel-title img {
    margin: auto;
    height: 35px;
    width: auto;
}

.panel-body {
    background-color: #f4decb;
    color: #d27a2d;
}

.table th {
    font-weight: bold;
}


.table {
    border: 0px !important;
}

.table th, .table td {
    border: 0px !important;
}
