/*
Gameboard settings for devices with screens larger than the standard phones
*/
#gameBoard {
    background: url("../images/backgroundMay19.1205.png");
    background-size: 480px 480px;
    position: relative;
    margin: 0 auto;
    width: 480px;
    height: 480px;
}
#gameBorder {
    background: url("../images/border.png");
    background-size: 500px 500px;
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding-top: 10px;
}
/*
Media query for iPhone 5 size screens
*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #gameBoard {
        background: url("../images/backgroundMay19.1205.png");
        background-size: 300px 300px;
        position: relative;
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }
    #gameBorder {
        background: url("../images/border.png");
        background-size: 320px 320px;
        position: relative;
        margin: 0 auto;
        width: 320px;
        height: 320px;
        padding-top: 10px;
    }
}
/*
Media query for larger phone screens
*/
@media only screen
and (min-device-width: 360px)
and (max-device-width: 420px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #gameBoard {
        background: url("../images/backgroundMay19.1205.png");
        background-size: 340px 340px;
        position: relative;
        margin: 0 auto;
        width: 340px;
        height: 340px;
    }
    #gameBorder {
        background: url("../images/border.png");
        background-size: 360px 360px;
        position: relative;
        margin: 0 auto;
        width: 360px;
        height: 360px;
        padding-top: 10px;
    }
}
/*
Media query for all devices in between large phones and tablets
*/
@media only screen
and (min-device-width: 420px)
and (max-device-width: 719px) {
    #gameBoard {
        background: url("../images/backgroundMay19.1205.png");
        background-size: 400px 400px;
        position: relative;
        margin: 0 auto;
        width: 400px;
        height: 400px;
    }
    #gameBorder {
        background: url("../images/border.png");
        background-size: 420px 420px;
        position: relative;
        margin: 0 auto;
        width: 420px;
        height: 420px;
        padding-top: 10px;
    }
}

/* Animals and Jeep
 ********************/

#JEEP {
    background-color: green;
}

/* All pieces */
.piece {
    position: absolute;
    box-sizing: border-box;
}

/* Horizontal pieces */
.piece.dragX img {
    width: 100%;
}

/* Vertical pieces */
.piece.dragY img {
    transform: rotate(90deg);
    transform-origin: 0 0;
    margin-left: 100%;
}

/* Vertical, size 2 */
.piece.dragY.size2 img {
    width: 200%;
}

/* Vertical, size 3 */
.piece.dragY.size3 img {
    width: 300%;
}
