/* Ensure desktops still shows scroll bars if necessary */
@media only screen
and (max-device-width: 720px)
and (orientation: portrait) {
    body {
        overflow-y: hidden;
    }
}

/*
Gameboard settings for devices with screens larger than the standard phones
*/
#gameBorder {
    background: url("../images/border.png");
    background-size: cover;
    margin: 0 auto;
    padding: 10px;
}
#gameBoard {
    background: url("../images/backgroundMay19.1205.png");
    background-size: cover;
    position: relative;
    width: 100%;
}

/* Used to disable game piece movements */
#blackout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

/* User beaten all levels. */
#gameWon {
    position: absolute;
    left: 0;
    top: -320px;
    width: 100%;
    height: 100%;
    z-index: -1; /* hidden by default */
    color: #f4decb;
    text-align: center;
    font-size: 2em;
    padding-top: 50%;
}
#gameWon img {
    width: 25%;
}


/* Pieces (Animals and Jeep)
 ********************/

#jeep {
}

/* All pieces */
.piece {
    position: absolute;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.piece img {
    position: absolute;
}

/* Horizontal pieces */
.piece.dragX img {
    width: 100%;
}

/* Vertical pieces */
.piece.dragY img {
    transform: rotate(90deg);
    transform-origin: 0 0;
    margin-left: 100%;
}

/* Vertical, size 2 */
.piece.dragY.size2 img {
    width: 200%;
}

/* Vertical, size 3 */
.piece.dragY.size3 img {
    width: 300%;
}
