

#main h2 {
    border-bottom: 2px solid #d27a2d;
    color: #d27a2d;
    font-size: 2em;
    text-align: center;
    padding: 1.5em 0 0 0;
}

#main th {
    text-align: center;
    font-weight: bold;
}

#main td {
    text-align: center;
}

#main .col-xs-12 {
    padding: 0;
}

#main .row {
    margin: 0;
}

#main .col-xs-12 > div {
    position: relative;
    overflow: hidden;
    margin: 0 -25px 0 0;
}

#main table {
    position: relative;
    margin: auto;
    width: 50%;
}