.wrapper {
    text-align: center;
    padding: 3em 0 0 0;
}

h2 {
    border-bottom: 2px solid #d27a2d;
    color: #d27a2d;
    font-size: 2em;
}

th {
    text-align: center;
    font-weight: bold;
}

.col-xs-12 {
    position: absolute;
}

.table {
    position: relative;
    margin: auto;
    width: 50%;
}