
/***************************************************
 * Level Selector Modal
 */

/* Container */
#levelSelectorContainer {
    overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.1);
    margin: 0;
    padding: 0;
}
#levelSelectorContainer ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#levelSelectorContainer li {
    position: relative;
    text-align: center;
    float: left;
    width: 200px;
    height: 100%;
}

/* Modal Header */
#levelSelectorModal .modal-header {
    text-align: center;
}
#levelSelectorModal .modal-header h4 {
    margin-bottom: 0.5em;
}

/* Random Level Button,
   Submit Score Button,
   Name Input & Score Display */
#randomLevelBtn {
    float: right;
    width: 40%;
}
#scoreDisplay {
    margin-top: .6em;
    margin-left: .2em;
    color: #d27a2d;
    float: left;
    width: 58%;
    text-align: left;
}
/* achievement badges */
#scoreDisplay img {
    vertical-align: middle;
    height: 25px;
}
/* score */
#scoreDisplay span {
    font-weight: bold;
    height: 100%;
}

#playerNameInput,
#submitScoreBtn {
    margin-top: 1.4em;
}
#playerNameInput {
    float: left;
    width: 58%;
    clear: both;
}
#submitScoreBtn {
    float: right;
    width: 40%;
}

/* Active level */
#levelSelectorContainer .itemslide-active {
    background-color: #d27a2d;
}
#levelSelectorContainer .itemslide-active.levelCompleted {
    background-color: #f4decb;
}

/***************************************************
 * Level Completed Stats
 */
#levelSelectorContainer .completedStats {
    bottom: 10%;
    left: 0;
    right: 0;
    position: absolute;
    opacity: .2;
}

/* Active slide */
#levelSelectorContainer .itemslide-active.completedStats {
    opacity: 1;
}

/* Inactive slide */
#levelSelectorContainer .completedStats span {
    font-size: 2em;
    font-weight: bold;
}
#levelSelectorContainer .completedStats span.averageScore {
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin-bottom: .8em;
}

/***************************************************
 * Level Difficulty
 */
#levelSelectorContainer .levelDifficulty {
    top: 6%;
    left: 0;
    right: 0;
    position: absolute;
}

/* Level complete */
#levelSelectorContainer .levelCompleted .levelDifficulty,
#levelSelectorContainer .itemslide-active.levelCompleted .levelDifficulty {
    opacity: 0.1;
}

/* Active slide */
#levelSelectorContainer .itemslide-active .levelDifficulty {
    opacity: 1;
}

/***************************************************
 * Play Button
 */
#levelSelectorContainer .playButton {
    left: 0;
    right: 0;
    bottom: 10%;
    font-size: 2em;
    /*margin-top: 120%;*/
    position: absolute;
    display: none;
    color: #f4decb;
    /*background-color: #f4decb;*/
}

/* Level completed */
#levelSelectorContainer .levelCompleted .playButton,
#levelSelectorContainer .itemslide-active.levelCompleted .playButton {
    display: none;
}

/* Active slide */
#levelSelectorContainer .itemslide-active .playButton {
    display: block;
}

/***************************************************
 * Level Number
 */
#levelSelectorContainer .levelNum {
    left: 0;
    right: 0;
    top: 20%;
    font-size: 5em;
    position: absolute;
}

/* Level completed */
#levelSelectorContainer .levelCompleted .levelNum,
#levelSelectorContainer .itemslide-active.levelCompleted .levelNum {
    opacity: 0.1;
}

/* Active slide */
#levelSelectorContainer .itemslide-active .levelNum {
    opacity: 1;
    
}